@font-face {
  font-family: GlacialIndifference;
  src: url("GlacialIndifference-Bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: GlacialIndifference;
  src: url("GlacialIndifference.otf");
  font-weight: normal;
}

main {
  background-image: url("https://tailwindui.com/img/beams-home@95.jpg");
}

header h1 {
  font-size: 70px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}